
      <!doctype html><html lang="en"><head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Om Sai</title>
        <style media="screen">
        /* .bg{
        background-color: #3b5998;
        } */
        .bg{
          background-image: url('https://2va8xk2orpxt48gmu9bd2nl6-wpengine.netdna-ssl.com/wp-content/uploads/2015/08/custom-tailoring-846x564.jpg');
            /* background-repeat:no-repeat; */
          background-size:100%;
      }
        .form-rounded {
        border-radius: 1rem;
        }
        /* enable absolute positioning */
        .inner-addon {
        position: relative;
        }
        /* style icon */
        .inner-addon .fa {
        position: absolute;
        padding: 10px;
        pointer-events: none;
        }
        /* align icon */
        .left-addon .fa  { left:  0px;}
        .right-addon .fa { right: 0px;}
        /* add padding  */
        .left-addon input  { padding-left:  30px; }
        .right-addon input { padding-right: 30px; }
        .button {
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background:  #3b5998;
        padding: 10px;
        width: 210px;
        border-radius: 50px;
        display: inline-block;
        border: none;
        transition: all 0.4s ease 0s;
        }
        .button:hover {
        background: #434343;
        letter-spacing: 3px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        }
        .scroll{
        overflow: scroll;
        /* overflow-x: hidden; */
        height: 350px;
      }
        </style>
    </head>
    <body class="bg">
        <header class="navbar navbar-expand-lg navbar-inverse bg-dark">
            <div class="container">
                <a href="/admin/add_data" class="navbar-brand navbar-left">
                  &nbsp;Om Sai
                </a>
                <ul class="nav nav navbar-right">
                    <li class="nav-item" id="home">
                      <a href="/admin/add_data">HOME</a>
                      </li>&nbsp;&nbsp;&nbsp;
                      <li class="nav-item" id="data">
                        <a href="/admin/get_data">Show Data</a>
                      </li>
                </ul>
            </div>
        </header>