<%- include('partials/headerUser') %>
<div class="well">
    <h1 align="center">Contact Us</h1>
</div>
<div class="container" align="center">
    <div class="jumbotron container" style="box-sizing: border-box;">
        <h2 style="color: black; padding-left: 60px">&nbsp;&nbsp;&nbsp;<span class="fa fa-user" style="color: black"></span>&nbsp;Mitaben Padhiar</h2>
        <h2 style="color: black; padding-left: 60px">&nbsp;&nbsp;&nbsp;<span class="fa fa-phone" style="color: black"></span>&nbsp;<a href="">99243 70447</a></h2>
        <h4 style="color: black; padding-left: 60px">&nbsp;&nbsp;&nbsp;<span class="fa fa-address-card " style="color: black"></span>&nbsp;New Post Office faliya, Ugat, Navsari</h4>
        </div>
</div>
<%- include('partials/footer') %>