<%- include('partials/headerUser') %>
<div class="well">
    <h1 align="center">Prices</h1>
</div>
<div class="container" align="center">
    <div class="jumbotron container" style="box-sizing: border-box;">
        <div class="wrap">
            <br>
            <table border="1" class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" style="text-align: center;">Detail</th>
                            <th scope="col"  style="text-align: center;">Price</th>
                        </tr>     
                    </thead>
                    <tbody>
                            <tr>
                                <td align="center">
                                    અસ્તર વગરની બ્લાઉઝ
                                </td>                                
                                <td style="font-size: 20px;">
                                   100
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    અસ્ટર સાથેની બ્લાઉઝ
                                </td>                                
                                <td style="font-size: 20px;">
                                   200
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    અસ્ટર વગરનો ડ્રેસ
                                </td>                                
                                <td style="font-size: 20px;">
                                   250
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    અસ્તર સાથેનો ડ્રેસ
                                </td>                                
                                <td style="font-size: 20px;">
                                   300
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    અસ્તર વગરના કૂર્તા
                                </td>                                
                                <td style="font-size: 20px;">
                                   150
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    સાદા કૂર્તા અસ્તર સાથે
                                </td>                                
                                <td style="font-size: 20px;">
                                   200
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    પેટર્ન વાળા કૂર્તા
                                </td>                                
                                <td style="font-size: 20px;">
                                   250
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                  ફ્રોક
                                </td>                                
                                <td style="font-size: 20px;">
                                   200
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    ગાઉન  અસ્તર વગર
                                </td>                                
                                <td style="font-size: 20px;">
                                   300
                                </td>                            
                            </tr>

                            <tr>
                                <td align="center">
                                    ફોલ સ્ટિતચ
                                </td>                                
                                <td style="font-size: 20px;">
                                   30
                                </td>                            
                            </tr>
                    </tbody>
            </table>
          
        </div>
    </div>
</div>
<%- include('partials/footer') %>